.env
/db_data/
/db_data/base/
/db_data/global/
/db_data/pg_commit_ts/
/db_data/pg_dynshmem/
/db_data/pg_logical/
/db_data/pg_multixact/
/db_data/pg_notify/
/db_data/pg_replslot/
/db_data/pg_serial/
/db_data/pg_snapshots/
/db_data/pg_stat/
/db_data/pg_stat_tmp/
/db_data/pg_subtrans/
/db_data/pg_tblspc/
/db_data/pg_twophase/
/db_data/pg_wal/
/db_data/pg_xact/
/db_data/pg_hba.conf
/db_data/pg_ident.conf
/db_data/PG_VERSION
/db_data/postgresql.auto.conf
/db_data/postgresql.conf
/db_data/postmaster.opts
/db_data/postmaster.pid